* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  font-family: "DM Sans", sans-serif;
  background-color: hsl(27, 66%, 92%);
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.expenses-card {
  padding: 30px 20px;
}
.expenses-card .card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  border-radius: 10px;
  background-color: hsl(10, 79%, 65%);
}
.expenses-card .card-top .card-text {
  color: hsl(33, 100%, 98%);
}
.expenses-card .card-top .card-text .heading {
  font-size: 14px;
}
.expenses-card .card-top .card-text .money {
  margin-top: 5px;
  font-size: 25px;
  font-weight: bold;
}
.expenses-card .card-top .logo {
  display: flex;
  align-self: center;
  height: 40px;
}
.expenses-card .card-bottom {
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
  background-color: hsl(33, 100%, 98%);
}
.expenses-card .card-bottom h2 {
  font-size: 22px;
  color: hsl(25, 47%, 15%);
}
.expenses-card .card-bottom .graph-box {
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
.expenses-card .card-bottom .graph-box .post-box {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  text-align: center;
  padding: 5px;
}
.expenses-card .card-bottom .graph-box .post-box .post {
  width: 27px;
  border-radius: 3px;
}
.expenses-card .card-bottom .graph-box .post-box p {
  padding-top: 7px;
  font-size: 11px;
  color: hsl(28, 10%, 53%);
}
.expenses-card .card-bottom .graph-box .mon,
.expenses-card .card-bottom .graph-box .tue,
.expenses-card .card-bottom .graph-box .thu,
.expenses-card .card-bottom .graph-box .fri,
.expenses-card .card-bottom .graph-box .sat,
.expenses-card .card-bottom .graph-box .sun {
  background-color: hsl(10, 79%, 65%);
}
.expenses-card .card-bottom .graph-box .mon {
  height: 45px;
}
.expenses-card .card-bottom .graph-box .tue {
  height: 90px;
}
.expenses-card .card-bottom .graph-box .wed {
  height: 130px;
  background-color: hsl(186, 34%, 60%);
}
.expenses-card .card-bottom .graph-box .thu {
  height: 70px;
}
.expenses-card .card-bottom .graph-box .fri {
  height: 55px;
}
.expenses-card .card-bottom .graph-box .sat {
  height: 100px;
}
.expenses-card .card-bottom .graph-box .sun {
  height: 55px;
}
.expenses-card .card-bottom .line {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 1px;
  width: 100%;
  background-color: hsla(28, 10%, 53%, 0.318);
}
.expenses-card .card-bottom .text {
  display: flex;
  justify-content: space-between;
}
.expenses-card .card-bottom .text .text-left .heading {
  font-size: 15px;
  color: hsl(28, 10%, 53%);
}
.expenses-card .card-bottom .text .text-left .money-2 {
  margin-top: 5px;
  font-size: 30px;
  font-weight: bold;
  color: hsl(25, 47%, 15%);
}
.expenses-card .card-bottom .text .text-right {
  margin-top: 25px;
}
.expenses-card .card-bottom .text .text-right p {
  font-size: 15px;
  color: hsl(28, 10%, 53%);
}
.expenses-card .card-bottom .text .text-right .percent {
  font-size: 15px;
  text-align: right;
  font-weight: bold;
  color: hsl(25, 47%, 15%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 375px) {
  .expenses-card {
    padding: 50px 25px;
  }
  .expenses-card .card-top .card-text .heading {
    font-size: 15px;
  }
  .expenses-card .card-top .card-text .money {
    font-size: 27px;
  }
  .expenses-card .card-top .logo {
    height: 45px;
  }
  .expenses-card .card-bottom h2 {
    font-size: 25px;
  }
  .expenses-card .card-bottom .graph-box {
    margin-top: 50px;
  }
  .expenses-card .card-bottom .graph-box .post-box {
    padding: 7px;
  }
  .expenses-card .card-bottom .graph-box .post-box .post {
    width: 29px;
  }
  .expenses-card .card-bottom .graph-box .post-box p {
    padding-top: 9px;
    font-size: 12px;
  }
  .expenses-card .card-bottom .graph-box .mon,
  .expenses-card .card-bottom .graph-box .tue,
  .expenses-card .card-bottom .graph-box .thu,
  .expenses-card .card-bottom .graph-box .fri,
  .expenses-card .card-bottom .graph-box .sat,
  .expenses-card .card-bottom .graph-box .sun {
    background-color: hsl(10, 79%, 65%);
  }
  .expenses-card .card-bottom .graph-box .mon {
    height: 55px;
  }
  .expenses-card .card-bottom .graph-box .tue {
    height: 100px;
  }
  .expenses-card .card-bottom .graph-box .wed {
    height: 140px;
    background-color: hsl(186, 34%, 60%);
  }
  .expenses-card .card-bottom .graph-box .thu {
    height: 89px;
  }
  .expenses-card .card-bottom .graph-box .fri {
    height: 65px;
  }
  .expenses-card .card-bottom .graph-box .sat {
    height: 110px;
  }
  .expenses-card .card-bottom .graph-box .sun {
    height: 65px;
  }
  .expenses-card .card-bottom .text .text-left .heading {
    font-size: 16px;
  }
  .expenses-card .card-bottom .text .text-left .money-2 {
    font-size: 32px;
  }
  .expenses-card .card-bottom .text .text-right {
    margin-top: 30px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 500px;
  }
}/*# sourceMappingURL=style.css.map */